/* CSS Styling for the HTML document */

/* Part 2 Task 1: create style for header background photo */
.bg-custom {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    max-height: 150px;
    color: white;
}

a {
    color: black;
}